//index
@import 'index.scss';
body,
html {
    padding: 0;
    margin: 0;
    height: 100%;
    background: linear-gradient(45deg, #EECFBA, #C5DDE8);
}

*,
*:after,
*:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: "PTSans";
    font-size: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

a {
    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
        outline: none;
    }
}

button {
    &:hover,
    &:focus {
        outline: none;
    }
}

img {
    max-width: 100%;
    height: auto;
}