
//breakpoints
$yellow: #f96430;
$black: #2f3234;
$red: #ec1111;

//breakpoints
$tablets: 768px;
$phones: 468px;



//normalize 
@import './layout/normalize.scss';


@import './layout/variables.scss';
@import './layout/base.scss';

@import './layout/fonts.scss';
@import './blocks/hero.scss';
@import './blocks/best.scss';
@import './blocks/slider.scss';
@import './blocks/team.scss';
@import './blocks/menu-section.scss';
@import './blocks/reviews.scss';
@import './blocks/map.scss';
@import './blocks/footer.scss';
@import './blocks/fixed.scss';
