section.section.best
  .container.container--center
    .section-title.section-title--center
        h1.section-title__text.section__title__text-black мы лучшие
    ul.best__list  
        li.best__item
            .best__item-img
                img.best__item-pic(src="../../../img/best/meat.png", alt="meat")
            .best__item-desc
                h2.best__item-title 100% свежее мясо
                .best__item-text
                    p Драма представляет собой деструктивный цикл.Анапест представляет собой анапест.Ямб неравномерен.
        li.best__item
            .best__item-img
                img.best__item-pic(src="../../../img/best/hand.png", alt="meat")
            .best__item-desc
                h2.best__item-title Ручная сборка
                .best__item-text
                    p Драма представляет собой деструктивный цикл. Анапест представляет собой анапест
        li.best__item
            .best__item-img
                img(src="../../../img/best/natural.png", alt="meat").best__item-pic
            .best__item-desc
                h2.best__item-title Натуральные ингридиенты
                .best__item-text
                    p Драма представляет собой деструктивный цикл. Анапест представляет собой анапест.
