ul.fixed-menu
    li.fixed-menu__item.fixed-menu__item--active
        a(href="" data-scroll-to="0").fixed-menu__link
    li.fixed-menu__item
        a(href="" data-scroll-to="1").fixed-menu__link
    li.fixed-menu__item
        a(href="" data-scroll-to="2").fixed-menu__link
    li.fixed-menu__item
        a(href="" data-scroll-to="3").fixed-menu__link
    li.fixed-menu__item
        a(href="" data-scroll-to="4").fixed-menu__link
    li.fixed-menu__item
        a(href="" data-scroll-to="5").fixed-menu__link
    li.fixed-menu__item
        a(href="" data-scroll-to="6").fixed-menu__link
    li.fixed-menu__item
        a(href="" data-scroll-to="7").fixed-menu__link