footer.footer 
    .container
        .footer__row
            h3.footer__row-adress Волгоград, ул.Пушкина, дом Калатушкина
            a(href="tel: +79377029072").footer__row-tel +7(937)702-90-72
        .footer__row-social
            //- ul.footer__list
            //-     li.footer__item
            //-         a(href="#").footer__link
            //-             img(src="", alt="").footer__img