section.section.hero.active
  .container
    header.header
      a(href="").logo__pic
        img(src="../../img/header/header__logo.png", alt="").logo__pic-img
      nav.nav
        ul.nav__list
          li.nav__item
            a(href="#").nav__link о нас
          li.nav__item
            a(href="#").nav__link бургеры
          li.nav__item
            a(href="#").nav__link команда
          li.nav__item
            a(href="#").nav__link меню
          li.nav__item
            a(href="#").nav__link отзывы
          li.nav__item
            a(href="#").nav__link контакты
      button(type= "button").nav__button заказать
      .hamburger
        a(href="#").hamburger__link
          span.hamburger__bottom
    .hero__container    
      .hero__wrap
        .hero__wrap-img
          img(src="../../img/header/burger.png", alt="burger").hero__wrap-img_pic
        .hero__wrap-desc
          .hero__wrap-top
            h1.section-title__text мы делаем
          .hero__wrap-bot
            span.hero__wrap-text натуральные бургеры
  .hero__arrow
    a(href="#").hero__arrow-link
      img(src="../../img/header/arrow.png", alt="arrow").hero__arrow-img
  .menu
    nav.nav.nav--menu
          ul.nav__list.nav__list--menu
            li.nav__item.nav__item--menu
              a(href="#").nav__link.nav__link--menu о нас
            li.nav__item.nav__item--menu
              a(href="#").nav__link.nav__link--menu бургеры
            li.nav__item.nav__item--menu
              a(href="#").nav__link.nav__link--menu команда
            li.nav__item.nav__item--menu
              a(href="#").nav__link.nav__link--menu меню
            li.nav__item.nav__item--menu
              a(href="#").nav__link.nav__link--menu отзывы
            li.nav__item.nav__item--menu
              a(href="#").nav__link.nav__link--menu контакты