section.section.menu-section
    .hero__wrap-top
            h1.section-title__text меню
    .menu__acco
        ul.menu__list
            li.menu__item
                a(href="#").menu__acco__trigger
                    span.menu__acco__trigger-text для мясоедов
                .menu__acco-content
                    p.menu__acco-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, porro labore. Nostrum placeat libero pariatur ad fuga magnam repellendus, eos in dignissimos quidem dicta, totam exercitationem aliquam possimus esse delectus?
            li.menu__item
                a(href="#").menu__acco__trigger.menu__acco__trigger--back2
                    span.menu__acco__trigger-text для мясоедов
                .menu__acco-content
                    p.menu__acco-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, porro labore. Nostrum placeat libero pariatur ad fuga magnam repellendus, eos in dignissimos quidem dicta, totam exercitationem aliquam possimus esse delectus?
            li.menu__item
                a(href="#").menu__acco__trigger.menu__acco__trigger--back3
                    span.menu__acco__trigger-text для мясоедов
                .menu__acco-content
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, porro labore. Nostrum placeat libero pariatur ad fuga magnam repellendus, eos in dignissimos quidem dicta, totam exercitationem aliquam possimus esse delectus?
