section.section.reviews
    ul.reviews__list
        li(style='background-image: url(../../img/team/1.jpg);').reviews__item  
            .reviews__hover
                h3.reviews__title Константин Спилберг
                .reviews__comment
                    p Мысли о них и о них, и о ни. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным
                button(type= "button").nav__button подробнее
        li(style='background-image: url(../../img/team/2.jpg);').reviews__item  
            .reviews__hover
                h3.reviews__title Евгений Гуляшов
                .reviews__comment
                    p Мысли о них и о них, и о ни. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным
                button(type= "button").nav__button подробнее
        li(style='background-image: url(../../img/team/3.jpg);').reviews__item  
            .reviews__hover
                h3.reviews__title Дмитрий Скрыпников
                .reviews__comment
                    p Мысли о них и о них, и о ни. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным
                button(type= "button").nav__button подробнее
        li(style='background-image: url(../../img/team/4.jpg);').reviews__item  
            .reviews__hover
                h3.reviews__title Алексей Полетаев
                .reviews__comment
                    p Мысли о них и о них, и о ни. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным
                button(type= "button").nav__button подробнее
        li(style='background-image: url(../../img/team/5.jpg);').reviews__item  
            .reviews__hover
                h3.reviews__title Вадим Иванов
                .reviews__comment
                    p Мысли о них и о них, и о ни. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным
                button(type= "button").nav__button подробнее
        li(style='background-image: url(../../img/team/6.jpg);').reviews__item  
            .reviews__hover
                h3.reviews__title Виктор Гончаров
                .reviews__comment
                    p Мысли о них и о них, и о ни. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным
                button(type= "button").nav__button подробнее
        li(style='background-image: url(../../img/team/7.jpg);').reviews__item  
            .reviews__hover
                h3.reviews__title Сергей Кравцов
                .reviews__comment
                    p Мысли о них и о них, и о ни. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным
                button(type= "button").nav__button подробнее
        li(style='background-image: url(../../img/team/8.jpg);').reviews__item  
            .reviews__hover
                h3.reviews__title Сергей голиков
                .reviews__comment
                    p Мысли о них и о них, и о ни. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным
                button(type= "button").nav__button подробнее
            