section.section.slider
    .slider__container
        ul.slider__list
            li.slider__item.slider__item--active
                .slider__composition
                    a(href="#").slider__composition-link
                        img(src="../../img/burgers/comp.png", alt="composition").slider__composition-link__pic
                .slider__kkal
                    img(src="../../img/burgers/kkal.png", alt="kallors").slider__kkal__pic
                .slider__wrap
                    .slider__img
                        img(src="../../img/burgers/burger-1.png", alt="burger").slider__img-pic  
                    .slider__content
                        .slider__content-title
                            h2 dark beef burger
                        .slider__content-subtitle
                            p Ваш старый добрый знакомый, с рубленым бифштексом из 100% говядины, тремя кусочками нежнейшего сыра эмменталь, двумя помидорами, луком, салатом и соусом гриль теперь с добавлением экзотического соуса чураско.
                        .slider__order
                            .slider__order-price
                                .slider__order-wrap
                                    span.slider__order-price__num 500
                                    span.slider__order-price__rub рублей
                                .slider__button-wrap
                                    button(type= "button").nav__button заказать
            li.slider__item
                .slider__composition
                    a(href="#").slider__composition-link
                        img(src="../../img/burgers/comp.png", alt="composition").slider__composition-link__pic
                .slider__kkal
                    img(src="../../img/burgers/kkal.png", alt="kallors").slider__kkal__pic
                .slider__wrap
                    .slider__img
                        img(src="../../img/burgers/burger-2.png", alt="burger").slider__img-pic  
                    .slider__content
                        .slider__content-title
                            h2 dark beef xyergir
                        .slider__content-subtitle
                            p Ваш старый добрый знакомый, с рубленым бифштексом из 100% говядины, тремя кусочками нежнейшего сыра эмменталь, двумя помидорами, луком, салатом и соусом гриль теперь с добавлением экзотического соуса чураско.
                        .slider__order
                            .slider__order-price
                                .slider__order-wrap
                                    span.slider__order-price__num 500
                                    span.slider__order-price__rub рублей
                                .slider__button-wrap
                                    button(type= "button").nav__button заказать
            li.slider__item
                .slider__composition
                    a(href="#").slider__composition-link
                        img(src="../../img/burgers/comp.png", alt="composition").slider__composition-link__pic
                .slider__kkal
                    img(src="../../img/burgers/kkal.png", alt="kallors").slider__kkal__pic
                .slider__wrap
                    .slider__img
                        img(src="../../img/burgers/burger-3.png", alt="burger").slider__img-pic  
                    .slider__content
                        .slider__content-title
                            h2 dark beef xxxxx
                        .slider__content-subtitle
                            p Ваш старый добрый знакомый, с рубленым бифштексом из 100% говядины, тремя кусочками нежнейшего сыра эмменталь, двумя помидорами, луком, салатом и соусом гриль теперь с добавлением экзотического соуса чураско.
                        .slider__order
                            .slider__order-price
                                .slider__order-wrap
                                    span.slider__order-price__num 500
                                    span.slider__order-price__rub рублей
                                .slider__button-wrap
                                    button(type= "button").nav__button заказать
    .arrow__left
        a(href="").arrow__link.arrow__link--left
    .arrow__right
        a(href="").arrow__link.arrow__link--right