section.section.team
    .team__wrap
        .hero__wrap-top.hero__wrap-top__margin
            h1.section-title__text команда
        #team__acco
            ul.acco__list
                li.acco__item
                    a(href="#").acco__team__link Евгений Гуляшов
                    .acco__item__wrap
                        .acco__item__img
                            img(src="../../../img/our_team/face.jpg", alt="").acco__item__img-pic
                        .acco__item__desc
                            h3.acco__item__desc-title Охранник
                            p.acco__item__desc-subtitle Пробовал все бургеры, очень тупой. 
                li.acco__item.acco__item__wrap--active
                    a(href="#").acco__team__link Денис Згоднев
                    .acco__item__wrap
                        .acco__item__img
                            img(src="../../../img/our_team/face.jpg", alt="").acco__item__img-pic
                        .acco__item__desc
                            h3.acco__item__desc-title Повар
                            p.acco__item__desc-subtitle Делает лучшие бургеры (правда половину сьедает)
                li.acco__item
                    a(href="#").acco__team__link Дмитрий Скрыпников
                    .acco__item__wrap
                        .acco__item__img
                            img(src="../../../img/our_team/face.jpg", alt="").acco__item__img-pic
                        .acco__item__desc
                            h3.acco__item__desc-title Уборщица
                            p.acco__item__desc-subtitle Пробурит отверстие в любом своим взглядом.
    